<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinemusicservice.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.example.onlinemusicservice.model.domain.Admin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
<!--    admin管理员登入-->
    <sql id="Base_Column_List">
        id, name, password
    </sql>
</mapper>